body
{
    color: #FFFFFF;
    background-color: #AAAAAA;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

p
{
    font-size: 14px;
    font-family: consolas, sans-serif;
    font-align: justify;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h1
{
    color: red;
    font-size: 40px;
    font-family: consolas, sans-serif;
    text-align: left;
    margin-top: 15px;
    margin-left: 50px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h2
{
    font-family: consolas, sans-serif;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h3
{
    font-family: consolas, sans-serif;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h4
{
    font-family: consolas, sans-serif;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h5
{
    font-family: consolas, sans-serif;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h6
{
    font-family: consolas, sans-serif;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

em
{
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-style: normal;
}

.intro
{
    margin-block-end: 0px;
    margin-block-start: 0px;
    color: #0000FF;
    font-family: consolas, sans-serif;
}

.ita
{
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-style: italic;
}

ul
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

ol
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

li
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

img
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

figure
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

figcaption
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

footer
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

button
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

div
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

a
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

strong
{
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-style: normal;
}
