body
{
    border-left: 2px #000000 dashed;
    border-right: 2px #000000 dashed;
    border-bottom: 2px #000000 dashed;
    color: #FFFFFF;
    background-color: #AAAAAA;
    margin-block-end: 0px;
    margin-block-left: 0px;
    margin-block-start: 0px;
    margin-block-right: 0px;
    border-radius: 10px;
    box-shadow: 6px 6px 1px #000000;
    text-shadow: 1px 1px 1px #FFFFFF;
    overflow: auto;
    word-wrap: break-word;
}

p
{
    font-size: 14px;
    font-family: consolas, sans-serif;
    font-align: justify;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h1
{
    color: red;
    font-size: 40px;
    font-family: consolas, sans-serif;
    text-align: left;
    margin-top: 15px;
    margin-left: 50px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h2
{
    font-family: consolas, sans-serif;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h3
{
    font-family: consolas, sans-serif;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h4
{
    font-family: consolas, sans-serif;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h5
{
    font-family: consolas, sans-serif;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

h6
{
    font-family: consolas, sans-serif;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

em
{
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-style: normal;
}

.intro
{
    margin-block-end: 0px;
    margin-block-start: 0px;
    color: #0000FF;
    font-family: consolas, sans-serif;
}

.ita
{
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-style: italic;
}

ul
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

ol
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

li
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

img
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

figure
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

figcaption
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

footer
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

button
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

div
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

a
{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

strong
{
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-style: normal;
}

a:hover
{
    color: #3300FF;
}

a:active
{
    color: #123456;
}

a:focus
{
    color: #ABCDEF;
}

a:visited
{
    color: #777777;
}

#conteneur
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

.element3
{
    margin: auto;
    background-color: #FF00FF;
}

.element2
{
    margin: auto;
    background-color: #FF0000;
}

.element2:nth-child(2)
{
    background-color: #0000FF;
    align-self: flex-end;
    margin: auto;
    flex: 1;
}

.element1
{
    background-color: #00FF00;
    margin: auto;
}